.forgotpass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://plus.unsplash.com/premium_photo-1661811677567-6f14477aa1fa?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.resetContainer {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.resetTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.resetSubtitle {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 0.3rem;
    display: block;
    text-align: left;
}

.inputField {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    color: #333;
    background-color: #f9fafb;
    outline: none;
    transition: border-color 0.2s;
}

.inputField:focus {
    border-color: #4caf50;
}

.resetButton {
    width: 100%;
    padding: 0.75rem;
    background-color: #4caf50;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.resetButton:hover {
    background-color: #45a049;
}